
.login-card {
  width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(145deg, #ffffff, #f0f0f3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.login-form {
  width: 100%;
}

.login-icon {
  margin-bottom: 20px;
}

.signup-text {
  margin-bottom: 16px;
  text-align: center;
}

.signup-link {
  color: #6366f1;
}

.remember-item {
  margin-bottom: 16px;
}

.login-form .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #6366f1 !important;
  border-color: #6366f1 !important;
}

.login-form .ant-checkbox:hover .ant-checkbox-inner {
  background-color: white !important;
  border-color: #d9d9d9 !important;
}

.login-form .ant-checkbox-checked:hover .ant-checkbox-inner {
  background-color: #6366f1 !important;
  border-color: #6366f1 !important;
}

.login-form .ant-btn-primary {
  background: #6366f1;
  border-color: #6366f1;
}

.login-form .ant-btn-primary:hover,
.login-form .ant-btn-primary:focus {
  background: #6366f1 !important;
  border-color: #6366f1 !important;
  box-shadow: none !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

